/* header */
#logo-background{
    background-image: url(../img/pattern.png);
    background-color: cornflowerblue;
    background-size: 400px;
    background-repeat: repeat;
    height: 100px;
    position: relative;
}

.logo{
    width: 200px;
    position: absolute;
    bottom: 0;
}
/* /header */

/* main */
/* page title */
h1{
    margin-bottom: 0;
    font-size: 2.4rem;
}

.date, .sub-title{
    color: grey;
    margin: 0;
    font-size: 1.3rem;
}

.web-site{
    text-decoration: none;
    color: darkcyan;
}
/* /page title */

/* img */
.img-section{
    margin-top: 15px;
}

.img-paragraph{
    margin-top: 1px;
    font-size: 0.8rem;
}
/* /img */

/* article */
.article{
    font-size: 1.2rem;
    list-style-position: inside;
    padding-left: 0;
}

.highlight{
    background: yellow;
}

table{
    border-collapse: collapse;
}
th{
    width: 20%;
    text-align: left;
    background-color: cornflowerblue;
    color: white;
}

.th-big{
    width: 60%;
}

.row-color1{
    background-color: aqua;
}

/* /article */

/* footer */
.see-more{
    color: grey;
    font-size: 1.3rem;
}

.link1{
    background-image: url(../img/monitor.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
    color: white;
}

h4{
    padding: 10px;
}

.link2{
    background-image: url(../img/graph.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
    color: white;
}


/* /footer */

/* /main */
